body {
    font-family: "Roboto", sans-serif !important;
}
/* transfer later */
.datepicker.dropdown-menu {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.datepicker table {
    width: 203px;
}

.datepicker table tr td span {
    display: inline-block;
    width: 3.75rem;
    margin: 0.2rem;
    padding: 0.3rem 0;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.datepicker table tr td span:hover {
    background-color: #0d6efd;
    color: white;
}

.datepicker table tr td span.active {
    background-color: #0d6efd;
    color: white;
}

.datepicker .datepicker-switch {
    background-color: #f8f9fa;
    color: #212529;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.25rem;
}

.datepicker .prev,
.datepicker .next {
    color: #0d6efd;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.datepicker .prev {
    border-radius: 0.25rem 0 0 0.25rem;
}
.datepicker .next {
    border-radius: 0 0.25rem 0.25rem 0;
}

/* responsiveness */
.sidebar {
    width: 250px;
    min-width: 250px;
    background: #024a70;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.15s ease-in-out;
}
.sidebar-close {
    width: 0;
    min-width: 0;
    left: -250px;
}
.sidebar-close .menu-btn {
    right: -300px;
}
.menu-btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: -50px;
    transition: right 0.15s ease-in-out;
}
@media (min-width: 1024px) {
    .sidebar {
        display: block !important;
        background: #024a70;
        position: unset !important;
    }
    .sidebar-close {
        width: 250px !important;
        min-width: 250px !important;
        left: 0 !important;
    }
    .menu-btn {
        display: none !important;
    }
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
